<html>

<head>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src='https://www.gstatic.com/charts/loader.js'></script>
    <!-- This is to get the _.ForEach working in the javaScript file -->
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>

<body>
    <div id="wrapper">
        <div class="navbar">
            <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a>
            <a href="#services"><i class="fa fa-fw fa-wrench"></i> Services</a>
            <a href="#"><i class="fa fa-fw fa-envelope"></i> Contact</a>
            <a href="#"><i class="fa fa-newspaper-o"></i> News</a>
            <h3>Dublin<span>Bike</span></h3>
        </div>

        <section>
            <div id="weather">
                <h1>Weather<span>Forecast</span><a class="weatherwidget-io" href="https://forecast7.com/en/53d35n6d26/dublin/" data-label_1="DUBLIN" data-label_2="WEATHER" data-font="Arial Black" data-icons="Climacons Animated" data-theme="metallic" >DUBLIN WEATHER</a></h1>
            </div>

            <article id="message">
                <h1>Latest <span>News</span></h1>
                <p><img src="../static/Covid.jpg" alt="Smiley face" width="240" height="250" align="left"></p>
                <p>The dublinbikes service is continuing to operate as per normal for now. As with other essential public transport service operators we will be guided by advice from the relevant authorities as the situation evolves. When using the service please follow the HSE public health guidelines around hygiene and keeping a safe distance from other users.</p>

            </article>
        </section>

        <div id="content">

            <div id="map">
            </div>

            <div id="map2">
                <h1>Station<span>Details</span></h1>
                <p id="availability"></p>
                <canvas id="myChart"></canvas>
                <canvas id="myChart2"></canvas>

            </div>
            <!--
      <div id="display" class="polaroid">
        <p id="availability"></p>
    </div>
-->
            <div class="article column1">
                <h1>Plan<span>Route</span></h1>

                <form id="distance_form" onsubmit="return false">
                    <label for="from_places">Origin</label>
                    <select class="form-control" id="from_places" placeholder="Enter a location"> </select>

                    <label for="from_places">Destination</label>
                    <select class="form-control" id="to_places" placeholder="Enter a location"></select>
                    <label for="mode">Travel Mode</label>
                    <select class="form-control" id="mode" placeholder="Cycling">
                        <option value="walking">Cycling</option>
                        <option value="driving">Driving</option>
                        <option value="walking">Walking</option>
                        <option value="Bus">Bus</option>
                    </select>
                    <input class="btn btn-primary" id="myBtn" type="submit" value="Calculate">
                </form>

            </div>
            <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h1>Trip <span>Details</span></h1>
                    <table>
                        <tr>
                            <td>Miles</td>
                            <td id="miles"></td>
                        </tr>
                        <tr>
                            <td>KM</td>
                            <td id="kilo"></td>
                        </tr>

                        <tr>
                            <td>Duration</td>
                            <td id="Duration"></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="article column2">
                <h1>Cycling <span>Safety</span></h1>
                <p>As a cyclist, you can reduce your risk of death or injury by following some simple advice:</p>
                <ul>
                    <li>Never cycle in the dark without adequate lighting – white for front, red for rear</li>
                    <li>Watch your speed, especially when cycling on busy streets and going downhill</li>
                    <li>Steer well clear of left-turning trucks: let them turn before you move ahead</li>
                    <li>Wear a helmet</li>
                    <li>Follow the rules of the road, never run traffic lights or weave unpredictably in and out of traffic</li>
                    <li>Respect other road users – don’t get into shouting matches with motorists; stop at pedestrian crossings; don’t cycle on the footpath</li>
                </ul>

            </div>
            <div class="article column3">
                <h1>Get<span>Prediction</span></h1>
                <form id="prediction_form" onsubmit="return false">
                    <label for="from_places">Station</label>
                    <select class="form-control" id="station_name" onchange="myFunction(this)" value="select"> </select>
                    <label for="dt">Date</label>
                    <input type="date" id="dt" value="2000-05-05" />
                    <label for="time1">Time</label>
                    <input type="time" id="time1" value="10:00" />
                    <input class="btn btn-primary" id="myBtn1" type="submit" value="Go">
                </form>
            </div>
        </div>

        <footer class="footer-distributed">
            <div class="footer-left">

                <h3>Dublin<span>Bike</span></h3>

                <p class="footer-links">
                    <a href="#" class="link-1">Home</a>

                    <a href="#">Blog</a>

                    <a href="#">Pricing</a>

                    <a href="#">About</a>

                    <a href="#">Faq</a>

                    <a href="#">Contact</a>
                </p>

                <p class="footer-company-name">Company Name © 2015</p>
            </div>

            <div class="footer-center">

                <div>
                    <i class="fa fa-map-marker"></i>
                    <p><span>Dublin</span> Ireland</p>
                </div>

                <div>
                    <i class="fa fa-phone"></i>
                    <p>+35319069562</p>
                </div>

                <div>
                    <i class="fa fa-envelope"></i>
                    <p><a href="mailto:dublinbike@company.com">dublinbus@company.com</a></p>
                </div>

            </div>

            <div class="footer-right">

                <p class="footer-company-about">
                    <span>About the company</span> Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
                </p>

                <div class="footer-icons">

                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-github"></i></a>

                </div>

            </div>
        </footer>
    </div>
    <div id="myModal1" class="modal2">

        <!-- Modal content -->
        <div class="modal-content1">
            <span class="close1">×</span>
            <h1>Available <span>Bikes</span></h1>
            <table>
                <tr>
                    <td>Prediction</td>
                    <td id="abc"></td>
                </tr>
            </table>

        </div>

    </div>
    <script>
        function initMap() {
            var myLatLng = {
                lat: 53.349562,
                lng: -6.278198
            };
            var currentPosition = {
                lat: 53.344245,
                lng: -6.291248

            };

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 14,
                center: myLatLng

            });

            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: 'Hello World!'
            });

            var current = new google.maps.Marker({
                position: currentPosition,
                icon: "http://maps.google.com/mapfiles/ms/micons/yellow-dot.png",
                map: map,
                title: "You are here!"
            });

            var infoWindow = new google.maps.InfoWindow();
            var xy = $.getJSON("")

            var jqxhr = $.getJSON("../static/dublin.json", null, function(data) {
                    var stations = data.station;
                    console.log(stations);
                    _.forEach(stations, function(station) {
                        var marker = new google.maps.Marker({ // this adds a marker based on latitude and longitute position below:
                            position: {
                                lat: station.position_lat,
                                lng: station.position_lng
                            },
                            map: map,
                            title: station.name, // this is the stations name
                            station_number: station.number // this is the stations number
                        });
                        marker.metadata = {
                            type: "point",
                            id: station.station_number
                        };
                        google.maps.event.addListener(marker, 'click', (function(marker, stations) {
                            return function() {
                                if (station.banking == 0) {
                                    station.banking = "No";
                                } else {
                                    station.banking = "Yes";
                                }
                                var number = station.number;
                                var content = "Station name: " + station.name + "<br>" + "Station number: " + station.number + "<br>" + "Address: " + station.address + "<br>" + "Banking: " + station.banking + "<br>";
                                var button = "<button onclick=\"getOccupancy(" + number + ");getChartData(" + number + ")\">More Details...</button>";
                                infoWindow.setContent(content + "<br> " + button);
                                infoWindow.open(map, marker);
                            }
                        })(marker, stations));
                    })
                })
                .fail(function() {
                    console.log("error");
                })
        }

        function showDiv() {
            div = document.getElementById("display");
            div.style.display = "inline-block";
        }

        // Gets occupancy information for a given station
        function getOccupancy(station_number) {
            document.getElementById("availability").style.display = "inline-block";
            var jqxhr = $.getJSON("http://127.0.0.1:5000/occupancy/" + station_number, function(data) {
                var station_details = data.bikes_available;
                _.forEach(station_details, function(bikes_available) {
                    var content = "<h1>" + bikes_available.name + "</h1>"
                    content += "<b><u>Currently: </u></b><br> Bikes available: " + bikes_available.available_bikes + "<br>" + "Bike stands available: " + bikes_available.available_bike_stands + "<br>";
                    document.getElementById("availability").innerHTML = content;
                })
            });
        }

        // ploting the chart data
        function renderChart(data, labels) {
            var ctx = document.getElementById("myChart").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Average Hourly Bikes Available',
                        data: data,
                        borderColor: 'rgba(75, 192, 192, 1)',
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    }]
                },
            });
        }
        // getting the chart data from the flask
        function getChartData(station_number) {
            //    $("#map2").html('<img src="giphy.gif" alt="" srcset="">');
            $.getJSON("http://127.0.0.1:5000/data/" + station_number, function(result) {
                $("#loadingMessage").html("");
                var results = result.bikes_available
                console.log(results)
                var x = ""
                var y = ""
                for (var i = 0; i < results.length; i++) {
                    x += results[i].available_bikes + " ";
                    y += results[i].hour + " ";

                }
                var data = x.trim().split(" ")
                var labels = y.trim().split(" ")

                renderChart(data, labels)
            });
        }

        //getChartData()
    </script>
    <!-- </script> -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCKIG0tau-Kvkyv3pX_H4sErJqzbe07KUU&libraries=geometry&callback=initMap" async defer>
        showStationMarkers();

        //Functions to show/hide data - the occupancy info etc.

        showDiv();
        var jqxhr = $.getJSON("/stations", function(data) {
                console.log("second success");
            })
            .done(function() {
                console.log("Second success");
            })
            .fail(function() {
                console.log("error");
            })
            .always(function() {
                console.log("complete");
            });

        function showStationMarkers() {
            var jqxhr = $.getJSON($SCRIPT_ROOT + "/stations", function(data) {
                    var stations = data.stations;
                    console.log('stations', stations)
                        //draw markers
                })
                .fail(function() {
                    console.log("error")
                })
        }
    </script>

    <script>
        var stationposition = {}
        var address = ''

        //populate the dropdown list
        function populate() {
            var jqxhr = $.getJSON("../static/dublin.json", null, function(data) {
                var stations = data.station;
                var Form = "<option value=2020>Current location</option>";
                var To = "<option value=2018>Select location</option>";
                var lat = ''

                for (var i = 0; i < stations.length; i++) {
                    var address = stations[i].address;
                    var lng = stations[i].position_lat;
                    var lat = stations[i].position_lng
                    To += "<option  value=" + address + ">" + address + "</option>"
                    stationposition = {
                        lat: stations[i].position_lat,
                        lng: stations[i].position_lng
                    };

                }

                document.getElementById("from_places").innerHTML = Form;
                document.getElementById("to_places").innerHTML = To;
                document.getElementById("station_name").innerHTML = To;

                console.log(address)
                console.log(stationposition)

            })
        };
        populate()

        var destinationlocation = {}
        var currentlocation = {
            lat: 53.344245,
            lng: -6.291248
        }
        var address = ''
            // get the lng and lat from user input and show route
        function geolocation() {
            var origin1 = new google.maps.LatLng(53.344245, -6.291248);
            var sel = document.getElementById('to_places');
            var destination = sel.options[sel.selectedIndex].text;
            var jqxhr = $.getJSON("../static/dublin.json", null, function(data) {
                var stations = data.station;
                for (var i = 0; i < stations.length; i++) {
                    address = stations[i].address;

                    if (destination == stations[i].address) {
                        destinationlocation = {
                            lat: stations[i].position_lat,
                            lng: stations[i].position_lng
                        };

                        console.log(destinationlocation)
                    }

                }
                console.log(currentlocation)
                calculateDistance()
                initMap2()

            })
        }

        var directionsDisplay;
        var directionsService;
        var map;

        function initMap2() {
            directionsService = new google.maps.DirectionsService;
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 4,
                center: currentlocation,
            });
            directionsDisplay = new google.maps.DirectionsRenderer({
                map: map
            });
            calcRoute();
        }
        // calculate route
        function calcRoute() {
            var start = currentlocation;
            var end = destinationlocation;
            var request = {
                origin: start,
                destination: end,
                travelMode: google.maps.TravelMode.BICYCLING
            };
            directionsService.route(request, function(result, status) {
                if (status == google.maps.DirectionsStatus.OK) {
                    directionsDisplay.setDirections(result);
                }
            });
            console.log("end", end)
        };

        // calculate distance
        function calculateDistance() {
            var origin = currentlocation;
            var destination = destinationlocation;
            var service = new google.maps.DistanceMatrixService();
            service.getDistanceMatrix({
                origins: [origin],
                destinations: [destination],
                travelMode: google.maps.TravelMode.BICYCLING,
                unitSystem: google.maps.UnitSystem.IMPERIAL, // miles and feet.
                avoidHighways: false,
                avoidTolls: false
            }, callback);

            function callback(response, status) {
                if (status != google.maps.DistanceMatrixStatus.OK) {
                    $('#result').html(err);
                } else {
                    var origin = response.originAddresses[0];
                    var destination = response.destinationAddresses[0];
                    if (response.rows[0].elements[0].status === "ZERO_RESULTS") {
                        $('#result').html("There are no roads between " + origin + " and " + destination);
                    } else {
                        var distance = response.rows[0].elements[0].distance;
                        var duration = response.rows[0].elements[0].duration;
                        console.log(response.rows[0].elements[0].distance);
                        var distance_in_kilo = distance.value / 1000; // the kilom
                        var distance_in_mile = distance.value / 1609.34; // the mile
                        var duration_text = duration.text;
                        var duration_value = duration.value;
                        console.log(duration_text);
                        $('#miles').text(distance_in_mile.toFixed(2));
                        $('#kilo').text(distance_in_kilo.toFixed(2));
                        $('#Duration').text(duration_text);

                    }
                }
            }

        }

        var main_temp = '';
        var main_pressure = '';
        var main_humidity = '';
        var wind_speed = '';
        var predictionDay = '';
        var predictionTime = '';
        var predictionInput = '';
        var predictionStation = '';
        var Pdestination = '';
        // get real-time weather data
        function weather() {
            var request = $.getJSON("http://api.openweathermap.org/data/2.5/weather?id=7778677&APPID=b0059847f8ec020060d3e56bd7678549&units=metric",
                function(response) {
                    weatherinfo = response
                    main_temp = response.main.temp;
                    main_pressure = response.main.pressure;
                    main_humidity = response.main.humidity;
                    wind_speed = response.wind.speed;
                })
        }

        // predcition module
        function prediction() {
            predictionDay = document.getElementById("dt").value;
            predictionTime = document.getElementById("time1").value;
            var sel = document.getElementById('station_name');
            var Pdestination = sel.options[sel.selectedIndex].text;
            var abc = $.getJSON("../static/dublin.json", null, function(data) {
                var stations = data.station;
                for (var i = 0; i < stations.length; i++) {
                    address = stations[i].address;

                    if (Pdestination == stations[i].address) {
                        predictionStation = stations[i].number;
                    }
                }
            })

            //  prediction to variables to send to the flask app
            predictionInput = +main_temp + " " + main_pressure + " " + main_humidity + " " + wind_speed + " " + predictionDay + " " + predictionTime + "  " + predictionStation

            console.log(predictionInput);
            // posting the prediction variables to the ask app and getting the result.
            $.getJSON("http://127.0.0.1:5000" + '/prediction', {
                post: predictionInput
            }, function(data) {
                //                var response=({{ data|safe }})
                var response = data;
                var answer = response[0];
                document.getElementById("abc").innerHTML = response;
            })

            weather()
        }

        // function to get the user selected location in other to know the station number.
        function myFunction(selTag) {
            var x = selTag.options[selTag.selectedIndex].text;
            var abc = $.getJSON("../static/dublin.json", null, function(data) {
                var stations = data.station;
                for (var i = 0; i < stations.length; i++) {
                    address = stations[i].address;

                    if (x == stations[i].address) {
                        predictionStation = stations[i].number;
                    }
                }
            });

        }

        // function to show the current date and time on the page
        function GetFormattedDate() {
            var MyDate = new Date();
            var MyDateString = MyDate.getFullYear() + '-' + ('0' + (MyDate.getMonth() + 1)).slice(-2) + '-' + ('0' + MyDate.getDate()).slice(-2);
            var time = ("0" + MyDate.getHours()).slice(-2) + ":" + ("0" + MyDate.getMinutes()).slice(-2);
            document.getElementById("dt").defaultValue = MyDateString
            document.getElementById("time1").defaultValue = time
            console.log(MyDateString)

        }

        // load the current date and time on the page
        window.onload = function() {
            GetFormattedDate();
            weather();
        }

        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal
        btn.onclick = function() {
            modal.style.display = "block";
            geolocation();
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
                modal.style.display = "none";
            }
            // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }

            if (event.target == modal_1) {
                modal_1.style.display = "none";
            }
        }

        // Get the modal
        var modal_1 = document.getElementById('myModal1');

        // Get the button that opens the modal
        var btn_1 = document.getElementById("myBtn1");

        // Get the <span> element that closes the modal
        var span_1 = document.getElementsByClassName("close1")[0];

        // When the user clicks the button, open the modal
        btn_1.onclick = function() {
            modal_1.style.display = "block";
            prediction()
        }

        // When the user clicks on <span> (x), close the modal
        span_1.onclick = function() {
            modal_1.style.display = "none";
        }

        ! function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = 'https://weatherwidget.io/js/widget.min.js';
                fjs.parentNode.insertBefore(js, fjs);
            }
        }(document, 'script', 'weatherwidget-io-js');
    </script>
</body>

</html>